.login_form{
    margin: 20px auto auto auto;
    width: 40%;
    padding: 7%;
    border-radius: 25px;
    background-color: #EFEFEF;
}

.login_form button{
    margin-left: 45%;
}

.container{
    margin: auto;
}

.container input{
    margin: 5px;
}

.container button{
    margin: 5px;
}

